extends bases/layout.pug
block prepend vars
    - var title = 'Evenements'
block content
    main#EventList
        section#firstEvent
            figure: img(src=imgC+"Actualites/Placeholder.png",alt="Actualité1erplan")
            article
                h1 Titre
                h2 Date
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In
                    |volutpat ante semper diam molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium
                    |tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie. Lorem ipsum dolor sit amet, consectetur
                    |adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie. Lorem
                    |ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat
                    |ante semper diam molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut
                    |eget imperdiet neque. In volutpat ante semper diam molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                    |pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie. Lorem ipsum dolor sit amet,
                    |consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie. Lorem
                    |ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper
                    |diam molestie.
        section#EventMin
            h2 Evénements
            ul.Event1
                - for(var i = 0; i < 4; i++)
                    li: a
                        img(src=imgC+"Actualites/Placeholder.png",alt="video")
                        h3 Date
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat
                            |ante semper diam molestie.
                        a: img(src=imgL+"Plus.png",alt="+")
            ul.Event2
                - for(var i = 0; i < 4; i++)
                    li: a
                        img(src=imgC+"Actualites/Placeholder.png",alt="video")
                        h3 Date
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat
                            |ante semper diam molestie.
                        a: img(src=imgL+"Plus.png",alt="+")
            ul.Event3
                - for(var i = 0; i < 4; i++)
                    li: a
                        img(src=imgC+"Actualites/Placeholder.png",alt="video")
                        h3 Date
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat
                            |ante semper diam molestie.
                        a: img(src=imgL+"Plus.png",alt="+")
            ul.pagination
                - for(var i = 1; i < 9; i++)
                    li: a=i
